<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<nav>
		<!-- Include _menu.html -->+
		<th:block th:include="/_menu"></th:block>  
       
      	<h2>Message : <span th:utext="${message}"></span></h2>
	
	</nav>
	<section>
		
		
			<table>
				<tr>
					<td>Username:</td>
					<td th:text="${userName}"></td>
				</tr>
			</table>
			
		
	
		
		
		
	
	</section>
	
      
</body>
</html>